<section class="section">
  <h1 class="title">Bem vindo ao seu questionário de saúde!</h1>
  <h2 class="subtitle">
    Todas as informações abaixo são obrigatórias. Após terminar o preenchimento clique em ENVIAR A RESPOSTA.
  </h2>
</section>

<%= render "form", answer: @answer %>