<h1>  Bem vindo ao seu questionário de saúde! Todas as informações abaixo são obrigatórias. Após terminar o preenchimento clique em Salvar.</h1>

<%= render "form", answer: @answer %>

<br>

<div>
  <%= link_to "Back to answers", answers_path %>
</div>
