<div id="<%= dom_id survey %>">
  <p>
    <strong>Name:</strong>
    <%= survey.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= survey.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= survey.description %>
  </p>

</div>
